html {
    // font-size - 16px - 1em;
    // relative em -> rem
    font-size: 100%;
}

h1 {
    font-size: 2rem; // 32px  always use rems instead of any other measurements
}

h2 {
    font-size: 25px;
}